/CMakeUserPresets.json
/.clang-format
project/extensions/IQuickJS/injectors
project/extensions/IQuickJS/IQuickJS.dll
project/scripts/IQuickJS_wrappers/IQuickJS_wrappers.gml
project/scripts/GMExtCore/GMExtCore.gml
build/
out/
templates/
/release
/Testing/
/CMakePresets.json.bak
*.o
*.obj
*.dll
*.so
*.dylib
*.exe
*.lib
*.exp
*.ilk
*.pdb
