/CMakeUserPresets.json
/.clang-format
project/extensions/IQuickJS/injectors
project/extensions/IQuickJS/IQuickJS.dll
project/scripts/IQuickJS_Wrappers/IQuickJS_Wrappers.gml
project/scripts/ExtensionCore_api/ExtensionCore_api.gml
build/
out/
templates/
/release
/Testing/
/CMakePresets.json.bak
*.o
*.obj
*.dll
*.so
*.dylib
*.exe
*.lib
*.exp
*.ilk
*.pdb
