/extgen.schema.json
/CMakeLists.txt
/CMakeUserPresets.json
/CMakePresets.json
/.clang-format
code_gen/
project/extensions/IQuickJS/injectors
project/extensions/IQuickJS/IQuickJS.dll
project/scripts/IQuickJS_wrappers/IQuickJS_wrappers.gml
project/scripts/GMExtCore/GMExtCore.gml
cmake/
build/
out/
templates/
/docs
docs/documentation.json
/release
*.o
*.obj
*.dll
*.so
*.dylib
*.exe
*.lib
*.exp
*.ilk
*.pdb
